@import "tailwindcss";


@keyframes blobMove {
  0%, 100% {
    transform: translate(100px, 100px) scale(1);
  }
  33% {
    transform: translate(30px, -20px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}
@keyframes blobMove {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(30px, -20px) scale(1.1);
  }
}

@keyframes blobFloat {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(-20px, 30px) scale(1.1);
  }
}

body {
  font-family: 'Sora', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
}
